:root {
	--primary: #000000;
	--bg: #f7f7f7;
	--text: #000000;
	--pattern: #dddddd;
	--pattern-url: url('/assets/patterns/paw.svg');
	--pattern-opacity: 0.01;
}

.cooked,
.cooked *,
.cooked *::before,
.cooked *::after {
	transition:
		color 6.7s ease,
		fill 6.7s,
		stroke 6.7s,
		background-color 6.7s ease,
		border-color 6.7s ease;
}

#message-of-the-month {
	font-style: italic;
}

.nojs {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	font-size: 64px;
}
