:root {
	--primary: #004e78;
	--bg: #eef9ff;
	--text-light: #eef9ff;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	image-rendering: pixelated;
	color: var(--primary);
}

h2 {
	margin: 0;
}

#main-container {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--bg);
}

#main {
	display: flex;
	height: 100%;
	padding: 5em;
	gap: 1em;
}

.column {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.row {
	position: relative;
	display: flex;
	gap: 1em;
	height: 40%;
}

.section {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--primary);
	padding-bottom: 1em;
	word-break: break-all;
}

.section-overflow {
	overflow-y: scroll;
}

#corner-flowers {
	position: absolute;
	bottom: 1em;
	right: 1em;
	opacity: 0.5;
}

#corner-flowers-2 {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	opacity: 0.5;
}

.badges {
	display: flex;
	flex-wrap: wrap;
}

.katex * {
	font-weight: bolder;
}

.header {
	padding: 1em;
	background: var(--primary);
	color: var(--text-light);
}

.section-main,
.section-widgets {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
}

.thing {
	display: flex;
	gap: 1em;
	padding: 1em;
	border-radius: 0.5em;
	background: var(--primary);
	color: var(--text-light);
}

.thing-logo img {
	width: 56px;
	height: 56px;
}

.thing-description p {
	margin: 0;
}

.thing-description p:first-child {
	font-weight: 600;
}

.widget {
	display: flex;
	gap: 1em;
	padding: 1em;
	background: var(--primary);
	color: var(--text-light);
	border-radius: 0.25em;
	font-weight: 900;
	width: fit-content;
}

#counter {
	width: 100%;
}

.section-fella {
	position: relative;
	overflow: hidden;
	border: 2px solid var(--primary);
	display: flex;
	align-items: flex-end;
}

.section-fella img {
	margin-bottom: -1px;
}

#flower-1,
#flower-2 {
	position: absolute;
	width: 15%;
	height: 15%;
}

#flower-1 {
	bottom: -10%;
	left: -7%;
	animation: flower1 2s ease-in-out infinite alternate;
}

#flower-2 {
	bottom: -6%;
	right: -6%;
	animation: flower2 1.5s ease-in-out infinite alternate;
}

@keyframes flower1 {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 10deg;
	}
}

@keyframes flower2 {
	from {
		rotate: 0deg;
	}

	to {
		rotate: -10deg;
	}
}

.sky {
	background: url(../sky.jpg);
	animation: sky 20s ease-in-out infinite alternate;
	filter: contrast(100%) brightness(120%);
	background-size: 110% 110%;
}

#sign {
	position: absolute;
	bottom: -1px;
	left: -15%;
	height: 75%;
	z-index: 999;
}

[id^='ROUTE_'][id$='_RECT'] {
	cursor: pointer;
}

@keyframes sky {
	from {
		background-position: 28% 28%;
	}

	to {
		background-position: 52% 52%;
	}
}

@keyframes fall {
	0% {
		top: -10%;
		transform: translateX(0) rotate(0);
	}

	50% {
		transform: translateX(100px) rotate(180deg);
	}

	100% {
		top: 110%;
		transform: translateX(-50px) rotate(360deg);
	}
}

@media (max-width: 768px) {
	#main {
		flex-direction: column;
		padding: 2em;
		overflow-y: auto;
	}

	.row {
		flex-direction: column;
	}

	#sign {
		height: 50vh;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	[id^='flower-'] {
		width: 20%;
	}
}
