@font-face {
	font-family: "Pixelated MS Sans Serif";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/ms_sans_serif.woff) format("woff");
}

* {
	font-family: "Pixelated MS Sans Serif", monospace, sans-serif;
}

html {
	min-height: 100vh;
}

body {
	height: 90vh;
	background-image: url('../bg.gif');
	background-size: 100% 190%;
	overflow-x: hidden;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
}

@keyframes rotateX {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

.rotateme {
	animation: rotateX 2s linear infinite;
}

.links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.link {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

a {
	color: blue;
	text-decoration: underline;
}

.window {
	position: absolute;
	background-color: #c0c0c0;
	border: solid 1px;
	border-color: white #0a0a0a #0a0a0a white;
	box-shadow: rgba(0, 0, 0, 0.5) 30px 20px 1px;
	width: fit-content;
}

.window__content {
	padding: .5em;
}

.window__titlebar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 24px;
	font-weight: bold;
	color: white;
	z-index: 0;
	user-select: none;
	cursor: grab;
}

.window__titlebar:active {
	cursor: grabbing;
}

.window__titlebar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../rainbow.gif);
	background-size: cover;
	filter: blur(8px);
	transform: scale(1.1);
	z-index: -1;
}

.titlebar__container {
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: space-between;
	gap: 5em;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

.titlebar__container {
	text-shadow: #0a0a0a6b 0 0 5px;
}

.titlebar__container div {
	display: flex;
}

.titlebar__buttons {
	display: flex;
	gap: 2px;
}

.titlebar__title {
	display: flex;
	gap: 4px;
}

.titlebar__title img {
	object-fit: contain;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #c0c0c0;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
	min-width: 20px;
	text-align: center;
	height: 18px;
	cursor: pointer;
}

.button:active {
	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.windows {
	width: 100%;
	height: 100%;
}

.window#bio {
	left: 40%;
	top: 10%;
}

.window#badges {
	position: absolute;
	top: 80%;
}

.window#badges .window__content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: .5em;
	grid-row-gap: .5em;
	width: fit-content;
}

.window#counter {
	position: absolute;
	right: 80px;
	width: fit-content;
	top: 60%;
}

.window#random-ad-1 {
	width: fit-content;
	position: absolute;
	top: 35%;
	left: 10px;
}

.window#random-ad-2 {
	width: fit-content;
	position: absolute;
	top: 85%;
	left: 30%;
}

h1 {
	font-size: 36PX;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 10px;
	background-image: url(../starfield.gif);
	background-size: 100% 100%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move 10s infinite linear;
}

.window__content#bio {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#current-track {
	border-top: 1px solid #838383;
	padding-top: .5em;
	display: flex;
	gap: 1em;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	font-weight: bolder;
}

@keyframes move {
	0% {
		background-position: 0%;
	}

	50% {
		background-position: 100%;
	}

	100% {
		background-position: 0%;
	}
}