body {
	position: relative;
	width: 100vw;
	height: 100vh;
	image-rendering: pixelated;
	overflow-x: hidden;
	color: var(--text);
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	mask: var(--pattern-url);
	background-color: var(--pattern);
	background-size: 3%;
	background-repeat: repeat;
	z-index: -1;
	opacity: var(--pattern-opacity);
}

h2 {
	margin: 0;
}

#main-container {
	position: relative;
	width: 100%;
	height: 100%;
}

#main {
	display: flex;
	height: 100%;
	padding: 5em;
	gap: 1em;
}

.column {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1em;
	isolation: isolate;
}

.row {
	position: relative;
	display: flex;
	gap: 1em;
}

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--primary);
	padding-bottom: 1em;
	word-break: break-all;
	flex-grow: 1;
	background-color: var(--bg) !important;
	isolation: isolate;
}

.section-buttons {
	flex: 0;
	height: fit-content;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1em;
	gap: 0.5em;
	align-items: center;
}

.section-buttons img {
	image-rendering: pixelated;
}

.section-overflow {
	overflow-y: scroll;
}

#corner-flowers {
	position: absolute;
	bottom: 1em;
	right: 1em;
	opacity: 0.5;
	z-index: -1;
}

#corner-flowers-2 {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	opacity: 0.5;
	z-index: -1;
}

.katex * {
	font-weight: bolder;
}

.header {
	padding: 1em;
	background: var(--primary);
	color: var(--bg);
}

.section-main,
.section-widgets {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
}

.thing {
	text-decoration: none;
	display: flex;
	gap: 1em;
	padding: 1em;
	border: 1px dashed var(--primary);
}

.thing-logo {
	background-color: var(--primary);
	border-radius: 0.5em;
	padding: 0.5em;
	display: flex;
	justify-content: center;
}

.thing-logo img {
	width: 56px;
	height: 56px;
}

.thing-description p {
	margin: 0;
}

.thing-description p:first-child {
	font-weight: 600;
}

.widget {
	display: flex;
	gap: 1em;
	padding: 1em;
	border: 1px dashed var(--primary);
	font-weight: 900;
	width: fit-content;
}

.widget.buttons {
	align-self: flex-end;
	height: fit-content;
}

#counter {
	width: 100%;
}

.section-fella {
	position: relative;
	overflow: hidden;
	border: 2px solid var(--primary);
	display: flex;
	align-items: flex-end;
	background-color: var(--bg) !important;
}

.section-fella img {
	margin-bottom: -1px;
}

#flower-1,
#flower-2 {
	position: absolute;
	width: 15%;
	height: 15%;
	z-index: 10;
}

#flower-1 {
	bottom: -10%;
	left: -7%;
	animation: flower1 2s ease-in-out infinite alternate;
}

#flower-2 {
	bottom: 0;
	right: -6.7%;
	animation: flower2 1.5s ease-in-out infinite alternate;
}

@keyframes flower1 {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 10deg;
	}
}

@keyframes flower2 {
	from {
		rotate: 0deg;
	}

	to {
		rotate: -10deg;
	}
}

.flex-1 {
	flex: 1;
	flex-shrink: 0;
}

.sky {
	position: relative;
	height: 100%;

	background: url(../sky.jpg) no-repeat no-repeat !important;
	background-color: hsl(from var(--bg) h 50% 50%) !important;
	background-blend-mode: screen;

	background-size: cover !important;
	animation: sky 20s ease-in-out infinite alternate;

	isolation: isolate;
}

#sign {
	position: absolute;
	bottom: -2px;
	left: -15%;
	height: 75%;
	z-index: 999;
}

#mybtn {
	cursor: pointer;
}

[id^='ROUTE_'][id$='_RECT'],
[id^='WEBRING_'] {
	cursor: pointer;
}

@keyframes sky {
	from {
		background-position: 28% 28%;
	}

	to {
		background-position: 52% 52%;
	}
}

@keyframes fall {
	0% {
		transform: translateY(0) translateX(0) rotate(0);
	}

	50% {
		transform: translateY(60vh) translateX(100px) rotate(180deg);
	}

	100% {
		transform: translateY(120vh) translateX(-50px) rotate(360deg);
	}
}

@media (max-width: 1600px) {
	#main {
		flex-direction: column;
	}

	#sign {
		height: 80vh;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	#corner-flowers-2 {
		display: none;
	}
}

@media (max-width: 768px) {
	#main {
		flex-direction: column;
		padding: 2em;
		overflow-y: auto;
	}

	.row {
		flex-direction: column;
	}

	#sign {
		height: 80vh;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	[id^='flower-'] {
		width: 20%;
	}

	#corner-flowers {
		opacity: 0.1;
	}
	#corner-flowers-2 {
		display: none;
	}
}
